.pmts-buyer-protection-banner-section{padding-top:20px;position:relative}.pmts-buyer-protection-banner-display-image{vertical-align:top;position:absolute}.pmts-learn-more-link-section{margin-left:15%;margin-top:10%}
