.pmts-wechat-contract-app-noninstall{display:none}.pmts-wechat-contract-margin-adjustment{margin-top:-14px}.pmts-wechat-contract-margin-adjustment span[class="a-letter-space"]:nth-of-type(1){display:none}
